rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /offers/{offer} {
      allow read;
      allow write;
    }
    match /players/{player} {
      allow read;
      allow write: if request.auth.uid == "ytGQ3BBKRPMq1ZvS5of4SgghDvw1";
    }
    match /history/{history} {
      allow read;
      allow write: if request.auth.uid == "ytGQ3BBKRPMq1ZvS5of4SgghDvw1";
    }
    match /{document=**} {
      allow read, write: if request.auth.uid == "ytGQ3BBKRPMq1ZvS5of4SgghDvw1";
    }
  }
}